* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 * Navigation styling
 */
.nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-item{
    display: block;
    *display: block;
    zoom: 1;
}

.nav-item a {
    background: transparent;
    margin-top: 1em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 85%;
}
.nav-item a:hover,
.nav-item a:focus {
}

/*
 * content styling
 */

a {
    text-decoration: none;
    color: rgb(61, 146, 201);
}
a:hover,
a:focus{
    text-decoration: underline;
}

div.content p{
    font-family: "Crimson Text", serif;
    font-size: 1.3em;
    font-weight: 400;
}

div.content > :not(pre) code{
    font-size: 0.8em;
    background: #f3f3f3;
}

div.content img{
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

hr{
    margin-top: 2em;
    margin-bottom: 2em;
}

strong{
    font-weight: 700;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/*
 * quote styling
 */
div.content blockquote{
    margin: 0;
    padding: 1em;
    border-left: solid #000;
}

/* 
 * mathjax styling
 */
div.MathJax_Display{
    font-size: 2em;
}

/*
 * figure styling
 */
figure img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

figure h4{
    /* this is the heading */
    font-style: italic;
    font-weight: 400;
    font-family: "Crimson Text", serif;
}


/*
 *
 */
div.licence{
    padding-top: 3em;
    letter-spacing: 0.05em;
    font-size: 50%;
}
