/* line 1, ../../sass/default.scss */
pre.code {
  background-color: #f8f8f8;
}

/* line 2, ../../sass/default.scss */
pre.code > .hll {
  background-color: #ffffcc;
}

/* line 3, ../../sass/default.scss */
pre.code > .c {
  color: #408080;
  font-style: italic;
}

/* Comment */
/* line 4, ../../sass/default.scss */
pre.code > .err {
  border: 1px solid red;
}

/* Error */
/* line 5, ../../sass/default.scss */
pre.code > .k {
  color: #008000;
  font-weight: bold;
}

/* Keyword */
/* line 6, ../../sass/default.scss */
pre.code > .o {
  color: #666666;
}

/* Operator */
/* line 7, ../../sass/default.scss */
pre.code > .cm {
  color: #408080;
  font-style: italic;
}

/* Comment.Multiline */
/* line 8, ../../sass/default.scss */
pre.code > .cp {
  color: #bc7a00;
}

/* Comment.Preproc */
/* line 9, ../../sass/default.scss */
pre.code > .c1 {
  color: #408080;
  font-style: italic;
}

/* Comment.Single */
/* line 10, ../../sass/default.scss */
pre.code > .cs {
  color: #408080;
  font-style: italic;
}

/* Comment.Special */
/* line 11, ../../sass/default.scss */
pre.code > .gd {
  color: #a00000;
}

/* Generic.Deleted */
/* line 12, ../../sass/default.scss */
pre.code > .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 13, ../../sass/default.scss */
pre.code > .gr {
  color: red;
}

/* Generic.Error */
/* line 14, ../../sass/default.scss */
pre.code > .gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
/* line 15, ../../sass/default.scss */
pre.code > .gi {
  color: #00a000;
}

/* Generic.Inserted */
/* line 16, ../../sass/default.scss */
pre.code > .go {
  color: #888888;
}

/* Generic.Output */
/* line 17, ../../sass/default.scss */
pre.code > .gp {
  color: #000080;
  font-weight: bold;
}

/* Generic.Prompt */
/* line 18, ../../sass/default.scss */
pre.code > .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 19, ../../sass/default.scss */
pre.code > .gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 20, ../../sass/default.scss */
pre.code > .gt {
  color: #0044dd;
}

/* Generic.Traceback */
/* line 21, ../../sass/default.scss */
pre.code > .kc {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 22, ../../sass/default.scss */
pre.code > .kd {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 23, ../../sass/default.scss */
pre.code > .kn {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 24, ../../sass/default.scss */
pre.code > .kp {
  color: green;
}

/* Keyword.Pseudo */
/* line 25, ../../sass/default.scss */
pre.code > .kr {
  color: #008000;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 26, ../../sass/default.scss */
pre.code > .kt {
  color: #b00040;
}

/* Keyword.Type */
/* line 27, ../../sass/default.scss */
pre.code > .m {
  color: #666666;
}

/* Literal.Number */
/* line 28, ../../sass/default.scss */
pre.code > .s {
  color: #ba2121;
}

/* Literal.String */
/* line 29, ../../sass/default.scss */
pre.code > .na {
  color: #7d9029;
}

/* Name.Attribute */
/* line 30, ../../sass/default.scss */
pre.code > .nb {
  color: green;
}

/* Name.Builtin */
/* line 31, ../../sass/default.scss */
pre.code > .nc {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Class */
/* line 32, ../../sass/default.scss */
pre.code > .no {
  color: #880000;
}

/* Name.Constant */
/* line 33, ../../sass/default.scss */
pre.code > .nd {
  color: #aa22ff;
}

/* Name.Decorator */
/* line 34, ../../sass/default.scss */
pre.code > .ni {
  color: #999999;
  font-weight: bold;
}

/* Name.Entity */
/* line 35, ../../sass/default.scss */
pre.code > .ne {
  color: #D2413A;
  font-weight: bold;
}

/* Name.Exception */
/* line 36, ../../sass/default.scss */
pre.code > .nf {
  color: blue;
}

/* Name.Function */
/* line 37, ../../sass/default.scss */
pre.code > .nl {
  color: #a0a000;
}

/* Name.Label */
/* line 38, ../../sass/default.scss */
pre.code > .nv {
  color: #19177c;
}

/* Name.Variable */
/* line 39, ../../sass/default.scss */
pre.code > .ow {
  color: #AA22FF;
  font-weight: bold;
}

/* Operator.Word */
/* line 40, ../../sass/default.scss */
pre.code > .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 41, ../../sass/default.scss */
pre.code > .mf {
  color: #666666;
}

/* Literal.Number.Float */
/* line 42, ../../sass/default.scss */
pre.code > .mh {
  color: #666666;
}

/* Literal.Number.Hex */
/* line 43, ../../sass/default.scss */
pre.code > .mi {
  color: #666666;
}

/* Literal.Number.Integer */
/* line 44, ../../sass/default.scss */
pre.code > .mo {
  color: #666666;
}

/* Literal.Number.Oct */
/* line 45, ../../sass/default.scss */
pre.code > .sb {
  color: #ba2121;
}

/* Literal.String.Backtick */
/* line 46, ../../sass/default.scss */
pre.code > .sc {
  color: #ba2121;
}

/* Literal.String.Char */
/* line 47, ../../sass/default.scss */
pre.code > .sd {
  color: #BA2121;
  font-style: italic;
}

/* Literal.String.Doc */
/* line 48, ../../sass/default.scss */
pre.code > .s2 {
  color: #ba2121;
}

/* Literal.String.Double */
/* line 49, ../../sass/default.scss */
pre.code > .se {
  color: #BB6622;
  font-weight: bold;
}

/* Literal.String.Escape */
/* line 50, ../../sass/default.scss */
pre.code > .sh {
  color: #ba2121;
}

/* Literal.String.Heredoc */
/* line 51, ../../sass/default.scss */
pre.code > .si {
  color: #BB6688;
  font-weight: bold;
}

/* Literal.String.Interpol */
/* line 52, ../../sass/default.scss */
pre.code > .sx {
  color: green;
}

/* Literal.String.Other */
/* line 53, ../../sass/default.scss */
pre.code > .sr {
  color: #bb6688;
}

/* Literal.String.Regex */
/* line 54, ../../sass/default.scss */
pre.code > .s1 {
  color: #ba2121;
}

/* Literal.String.Single */
/* line 55, ../../sass/default.scss */
pre.code > .ss {
  color: #19177c;
}

/* Literal.String.Symbol */
/* line 56, ../../sass/default.scss */
pre.code > .bp {
  color: green;
}

/* Name.Builtin.Pseudo */
/* line 57, ../../sass/default.scss */
pre.code > .vc {
  color: #19177c;
}

/* Name.Variable.Class */
/* line 58, ../../sass/default.scss */
pre.code > .vg {
  color: #19177c;
}

/* Name.Variable.Global */
/* line 59, ../../sass/default.scss */
pre.code > .vi {
  color: #19177c;
}

/* Name.Variable.Instance */
/* line 60, ../../sass/default.scss */
pre.code > .il {
  color: #666666;
}

/* Literal.Number.Integer.Long */
