/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 4, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* Typography
 */
/* line 22, ../../sass/screen.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", sans-serif;
}

/* line 61, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 28, ../../sass/screen.sass */
body {
  line-height: 1.5;
  font-family: Georgia, serif;
  color: #333333;
  font-size: 100%;
}
/* line 51, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-weight: normal;
  color: #222222;
}
/* line 52, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 img, body h2 img, body h3 img, body h4 img, body h5 img, body h6 img {
  margin: 0;
}
/* line 53, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}
/* line 54, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
/* line 55, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}
/* line 56, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
/* line 57, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}
/* line 58, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body h6 {
  font-size: 1em;
  font-weight: bold;
}
/* line 59, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
/* line 62, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:visited {
  color: #004c99;
}
/* line 21, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:focus {
  color: #0099ff;
}
/* line 24, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #0099ff;
}
/* line 27, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #bf00ff;
}
/* line 63, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
/* line 64, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body strong, body dfn {
  font-weight: bold;
}
/* line 65, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body em, body dfn {
  font-style: italic;
}
/* line 66, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body sup, body sub {
  line-height: 0;
}
/* line 67, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body abbr, body acronym {
  border-bottom: 1px dotted #666666;
}
/* line 68, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body address {
  margin: 0 0 1.5em;
  font-style: italic;
}
/* line 69, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body del {
  color: #666666;
}
/* line 70, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre {
  margin: 1.5em 0;
  white-space: pre;
}
/* line 71, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body pre, body code, body tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}
/* line 72, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body li ul, body li ol {
  margin: 0;
}
/* line 73, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul, body ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}
/* line 74, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ul {
  list-style-type: disc;
}
/* line 75, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 76, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 78, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body dd {
  margin-left: 1.5em;
}
/* line 79, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table {
  margin-bottom: 1.4em;
  width: 100%;
}
/* line 80, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th {
  font-weight: bold;
}
/* line 81, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body thead th {
  background: #c3d9ff;
}
/* line 82, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body th, body td, body caption {
  padding: 4px 10px 4px 5px;
}
/* line 85, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body table.striped tr:nth-child(even) td,
body table tr.even td {
  background: #e5ecf9;
}
/* line 86, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body tfoot {
  font-style: italic;
}
/* line 87, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body caption {
  background: #eeeeee;
}
/* line 88, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .quiet {
  color: #666666;
}
/* line 89, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body .loud {
  color: #111111;
}

/* Colours. All of them come from blueprint, so I just need to tweak them if I like
 */
/* layout
 */
/* line 39, ../../sass/screen.sass */
header {
  margin-top: 24px;
  margin-left: 12px;
  padding-top: 24px;
  width: 250px;
  float: left;
}

/* line 46, ../../sass/screen.sass */
article {
  padding-top: 72px;
  float: left;
  width: 600px;
  min-height: 500px;
  margin-left: 80px;
}

/* navigation sidebar
 */
/* line 60, ../../sass/screen.sass */
header {
  color: #bbbbbb;
  padding: 16px;
  -webkit-box-shadow: 3px 3px 2px #999999;
  -moz-box-shadow: 3px 3px 2px #999999;
  box-shadow: 3px 3px 2px #999999;
}
/* line 64, ../../sass/screen.sass */
header #main-heading a {
  color: #222222;
  text-decoration: none;
}
/* line 68, ../../sass/screen.sass */
header #main-heading a:hover {
  color: #666666;
}
/* line 71, ../../sass/screen.sass */
header ul {
  list-style-type: none;
}
/* line 74, ../../sass/screen.sass */
header li a {
  font-weight: bold;
}

/* Footer
 */
/* line 10, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -58px;
}
/* line 18, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 58px;
}

/* line 20, ../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 58px;
}

/* line 84, ../../sass/screen.sass */
footer {
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #666666;
  padding-top: 16px;
}

/*  code highlighting
 */
/* non highlighted code colors */
/* line 46, ../../sass/_pygments.scss */
.highlight > pre {
  background-color: #002b36;
  padding-left: 3px;
  padding-right: 3px;
  /* Comment */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Operator */
  /* Operator.Word */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Literal.Number.Integer.Long */
}
/* line 50, ../../sass/_pygments.scss */
.highlight > pre .c {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 51, ../../sass/_pygments.scss */
.highlight > pre .cm {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 52, ../../sass/_pygments.scss */
.highlight > pre .cp {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 53, ../../sass/_pygments.scss */
.highlight > pre .c1 {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 54, ../../sass/_pygments.scss */
.highlight > pre .cs {
  color: #586e75 !important;
  font-weight: bold !important;
  font-style: italic !important;
}
/* line 55, ../../sass/_pygments.scss */
.highlight > pre .err {
  color: #dc322f !important;
  background: none !important;
}
/* line 56, ../../sass/_pygments.scss */
.highlight > pre .k {
  color: #cb4b16 !important;
}
/* line 57, ../../sass/_pygments.scss */
.highlight > pre .o {
  color: #93a1a1 !important;
  font-weight: bold !important;
}
/* line 58, ../../sass/_pygments.scss */
.highlight > pre .p {
  color: #93a1a1 !important;
}
/* line 59, ../../sass/_pygments.scss */
.highlight > pre .ow {
  color: #2aa198 !important;
  font-weight: bold !important;
}
/* line 60, ../../sass/_pygments.scss */
.highlight > pre .gd {
  color: #93a1a1 !important;
  background-color: #372c34 !important;
  display: inline-block;
}
/* line 61, ../../sass/_pygments.scss */
.highlight > pre .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d33 !important;
  display: inline-block;
}
/* line 62, ../../sass/_pygments.scss */
.highlight > pre .ge {
  color: #93a1a1 !important;
  font-style: italic !important;
}
/* line 63, ../../sass/_pygments.scss */
.highlight > pre .gr {
  color: #aa0000;
}
/* line 64, ../../sass/_pygments.scss */
.highlight > pre .gh {
  color: #586e75 !important;
}
/* line 65, ../../sass/_pygments.scss */
.highlight > pre .gi {
  color: #93a1a1 !important;
  background-color: #1a412b !important;
  display: inline-block;
}
/* line 66, ../../sass/_pygments.scss */
.highlight > pre .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block;
}
/* line 67, ../../sass/_pygments.scss */
.highlight > pre .go {
  color: #888888;
}
/* line 68, ../../sass/_pygments.scss */
.highlight > pre .gp {
  color: #555555;
}
/* line 69, ../../sass/_pygments.scss */
.highlight > pre .gs {
  color: #93a1a1 !important;
  font-weight: bold !important;
}
/* line 70, ../../sass/_pygments.scss */
.highlight > pre .gu {
  color: #6c71c4 !important;
}
/* line 71, ../../sass/_pygments.scss */
.highlight > pre .gt {
  color: #aa0000;
}
/* line 72, ../../sass/_pygments.scss */
.highlight > pre .kc {
  color: #859900 !important;
  font-weight: bold !important;
}
/* line 73, ../../sass/_pygments.scss */
.highlight > pre .kd {
  color: #268bd2 !important;
}
/* line 74, ../../sass/_pygments.scss */
.highlight > pre .kp {
  color: #cb4b16 !important;
  font-weight: bold !important;
}
/* line 75, ../../sass/_pygments.scss */
.highlight > pre .kr {
  color: #d33682 !important;
  font-weight: bold !important;
}
/* line 76, ../../sass/_pygments.scss */
.highlight > pre .kt {
  color: #2aa198 !important;
}
/* line 77, ../../sass/_pygments.scss */
.highlight > pre .n {
  color: #268bd2 !important;
}
/* line 78, ../../sass/_pygments.scss */
.highlight > pre .na {
  color: #268bd2 !important;
}
/* line 79, ../../sass/_pygments.scss */
.highlight > pre .nb {
  color: #859900 !important;
}
/* line 80, ../../sass/_pygments.scss */
.highlight > pre .nc {
  color: #d33682 !important;
}
/* line 81, ../../sass/_pygments.scss */
.highlight > pre .no {
  color: #b58900 !important;
}
/* line 82, ../../sass/_pygments.scss */
.highlight > pre .ni {
  color: purple;
}
/* line 83, ../../sass/_pygments.scss */
.highlight > pre .nl {
  color: #859900 !important;
}
/* line 84, ../../sass/_pygments.scss */
.highlight > pre .ne {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 85, ../../sass/_pygments.scss */
.highlight > pre .nf {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 86, ../../sass/_pygments.scss */
.highlight > pre .nn {
  color: #b58900 !important;
}
/* line 87, ../../sass/_pygments.scss */
.highlight > pre .nt {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 88, ../../sass/_pygments.scss */
.highlight > pre .nx {
  color: #b58900 !important;
}
/* line 89, ../../sass/_pygments.scss */
.highlight > pre .bp {
  color: #999999;
}
/* line 90, ../../sass/_pygments.scss */
.highlight > pre .vc {
  color: teal;
}
/* line 91, ../../sass/_pygments.scss */
.highlight > pre .vg {
  color: #268bd2 !important;
}
/* line 92, ../../sass/_pygments.scss */
.highlight > pre .vi {
  color: #268bd2 !important;
}
/* line 93, ../../sass/_pygments.scss */
.highlight > pre .nv {
  color: #268bd2 !important;
}
/* line 94, ../../sass/_pygments.scss */
.highlight > pre .w {
  color: #bbbbbb;
}
/* line 95, ../../sass/_pygments.scss */
.highlight > pre .mf {
  color: #2aa198 !important;
}
/* line 96, ../../sass/_pygments.scss */
.highlight > pre .m {
  color: #2aa198 !important;
}
/* line 97, ../../sass/_pygments.scss */
.highlight > pre .mh {
  color: #2aa198 !important;
}
/* line 98, ../../sass/_pygments.scss */
.highlight > pre .mi {
  color: #2aa198 !important;
}
/* line 99, ../../sass/_pygments.scss */
.highlight > pre .mo {
  color: #009999;
}
/* line 100, ../../sass/_pygments.scss */
.highlight > pre .s {
  color: #2aa198 !important;
}
/* line 101, ../../sass/_pygments.scss */
.highlight > pre .sb {
  color: #dd1144;
}
/* line 102, ../../sass/_pygments.scss */
.highlight > pre .sc {
  color: #dd1144;
}
/* line 103, ../../sass/_pygments.scss */
.highlight > pre .sd {
  color: #2aa198 !important;
}
/* line 104, ../../sass/_pygments.scss */
.highlight > pre .s2 {
  color: #2aa198 !important;
}
/* line 105, ../../sass/_pygments.scss */
.highlight > pre .se {
  color: #dc322f !important;
}
/* line 106, ../../sass/_pygments.scss */
.highlight > pre .sh {
  color: #dd1144;
}
/* line 107, ../../sass/_pygments.scss */
.highlight > pre .si {
  color: #268bd2 !important;
}
/* line 108, ../../sass/_pygments.scss */
.highlight > pre .sx {
  color: #dd1144;
}
/* line 109, ../../sass/_pygments.scss */
.highlight > pre .sr {
  color: #2aa198 !important;
}
/* line 110, ../../sass/_pygments.scss */
.highlight > pre .s1 {
  color: #2aa198 !important;
}
/* line 111, ../../sass/_pygments.scss */
.highlight > pre .ss {
  color: #990073;
}
/* line 112, ../../sass/_pygments.scss */
.highlight > pre .il {
  color: #009999;
}
/* line 113, ../../sass/_pygments.scss */
.highlight > pre div .gd, .highlight > pre div .gd .x, .highlight > pre div .gi, .highlight > pre div .gi .x {
  display: inline-block;
  width: 100%;
}

/* rSt formatting
 */
/* line 112, ../../sass/screen.sass */
div.note, div.tip, div.hint {
  color: #666666;
  font-style: italic;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 1.4375em;
}
/* line 108, ../../sass/screen.sass */
div.note .admonition-title, div.tip .admonition-title, div.hint .admonition-title {
  font-style: normal;
  font-weight: bold;
}

/* line 115, ../../sass/screen.sass */
div.attention, div.important, div.caution {
  color: #666666;
  font-style: italic;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 1.4375em;
  color: #205791;
  background-color: #d5edf8;
}
/* line 108, ../../sass/screen.sass */
div.attention .admonition-title, div.important .admonition-title, div.caution .admonition-title {
  font-style: normal;
  font-weight: bold;
}

/* line 120, ../../sass/screen.sass */
div.danger, div.danger, div.warning {
  color: #666666;
  font-style: italic;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 1.4375em;
  color: #8a1f11;
  background-color: #fbe3e4;
}
/* line 108, ../../sass/screen.sass */
div.danger .admonition-title, div.danger .admonition-title, div.warning .admonition-title {
  font-style: normal;
  font-weight: bold;
}

/* line 126, ../../sass/screen.sass */
img {
  width: 100%;
}

/* line 131, ../../sass/screen.sass */
div.figure p.caption {
  font-style: italic;
  color: #666666;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 1.4375em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 1.4375em;
}

/* line 140, ../../sass/screen.sass */
blockquote.pull-quote {
  font-style: normal;
  font-size: 20.8px;
  padding: 16px;
  margin-top: 0px;
  padding-top: 0px;
  -webkit-box-shadow: 3px 3px 2px #999999;
  -moz-box-shadow: 3px 3px 2px #999999;
  box-shadow: 3px 3px 2px #999999;
  color: #111111;
}

/* line 152, ../../sass/screen.sass */
a.toc-backref {
  text-decoration: none;
}

/* line 157, ../../sass/screen.sass */
div.contents ul {
  list-style-type: none;
}
